body{
	background-color: whitesmoke;
	font-family: arieal;
}
.a11{
	margin: 0px 0px 0px 200px;
	padding: 125px 0px 0px 160px;
	font-size: 50px;
}
.a12{
	margin: 0px 0px 0px 170px;
	padding: 0px 0px 0px 150px;
	font-size: 50px;
}
.d1{
	height: 30px;
	width: 100%;
	background-color: whitesmoke;
	padding: 50px;
}
.p1{
	height: 800px;
	width: 100%;
	background-color: whitesmoke;
	margin: 0px 0px 0px 100px;
}
.p2{
	height: 500px;
	width: 100%;
	background-color: whitesmoke;
}
.cp{
	height: 400px;
	width: 100%;
/*	background-color: red;*/
	margin: 0px 200px 0px 300px;
}
.cp1{height: 400px;
	width: 100%;
/*	background-color: red;*/
	margin: 0px 200px 0px 300px;
}
.l{
	height: 500px;
	width: 100%;
	background-color: whitesmoke;
}
.s1{
	margin:0 0 0 500px;
	font-size: 20px;
}
.s2{
	margin: 0 0 0 30px;
	color: blue;
	font-size: 20px;
}
.s3{
	margin: 0 0 0 30px;
	font-size: 20px;
}
.s4{
	margin: 0 0 0 30px;
	font-size: 20px;
}
.s5{
	margin: 0 0 0 30px;
	font-size: 20px;
}
.d2{
/*	background-image: url("../Images/ap14.png");*/
/*	background-repeat: no-repeat;background-size: contain;float: right;*/
	height: 400px;
	width: 100%;
	background-color:#e6e6e6;
	
	margin: 10px 0 0px 0px;
	position: relative;
}
img{
	height: 400px;
	width: 300px;
	float: right;
}
.d3{
	height: 400px;
	width:100%;
	background-color: red;
	float: right;
}
.t1{
	margin: 0px 0px 30px 40px;
}
.d4{
	width: 200px;
	height: 20px;
	background-color: green;
}
.d5{
	width: 150px;
	height: 10px;
	background-color: green;
}
.f1{
	background-image: url("../Images/Screenshot (77).png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 400px;
	width: 400px;
	background-color: lightgray;
	margin: 60px -83px 30px 70px;
	float: left;
	border-radius: 50%;
	/* background-image:ap1.jpg ; */
}
.f2{
	height: 500px;
	width: 600px;
	background-color: lightgray;
	margin: 10px 0px 10px 225px;
	float:left ;
	border-radius: 5px;
	background-image:ap1.jpg ;
}
.icon1{
	height: 200px;
	width: 600px;
/*	background-color: blue;*/
}
.bulb{
	height: 	200px;
	width: 200px;
/*	background-color: orange;*/
	float: left;
	margin: 0px 0px 0px 50px;
	padding: 0px 0px 0px 0px;
}
.bulb1{
		height: 50px;
		width: 50px;
		background-color: orange;
		margin: 2px 0px 2px 10px;
		border-radius: 50%;
}
.settings{
	height: 	200px;
	width: 200px;
/*	background-color: orange;*/
	float: left;
	margin:0px 0px 0px 120px;
	padding: 0px 0px 0px 0px;

}
.settings1{
		height: 50px;
		width: 50px;
		background-color: orange;
		margin: 2px 0px 2px 10px;
		border-radius: 50%;
}
.icon2{
	height: 200px;
	width: 600px;
/*	background-color: blue;*/
}
.user{
	height: 	200px;
	width: 200px;
/*	background-color: yellow;*/
	float: left;
	margin: 0px 0px 0px 50px ;
	
}
.user1{
	height: 50px;
		width: 50px;
		background-color: orange;
		margin: 2px 0px 2px 10px;
		border-radius: 50%;
}
.contact{
	height: 	200px;
	width: 200px;
/*	background-color: yellow;*/
	float: left;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 100px;

}
.contact1{height: 50px;
		width: 50px;
		background-color: orange;
		margin: 2px 0px 2px 10px;
		border-radius: 50%;
	}
.v1{
	background-image: url("../Images/ap4.png");
	background-repeat: no-repeat;
	background-size: ;
	height: 245px;
	width: 300px;
	
	margin: 5px 50px 10px -100px;
	border-radius: 5%;
	
	float: left;
}
.vv1{
	height: 40px;width: 300px;
	background-color: ghostwhite;margin: 210px 5px 0px 5px;border-radius: 3px;
}
.vv2{
	height: 40px;width: 290px;
	background-color: ghostwhite;margin: 210px 5px 0px 5px;border-radius: 3px;
}
.v2{
	background-image: url("../Images/ap20.png");
	background-repeat: no-repeat;
	background-size: contain;
	height:300px;
	width: 300px;
/*	background-color: blue;*/
	margin: 10px 50px 10px 10px;
	border-radius: 5%;
	background-image:ap1.jpg ;
	float: left;
}
.v3{
	background-image: url("../Images/ap21.jpeg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
	width: 300px;
/*	background-color: blue;*/
	margin: 10px 0px 10px 10px;
	border-radius: 5%;
	background-image:ap1.jpg ;
	float: left;
}
.vv3{
	height: 40px;width: 290px;
	background-color: whitesmoke;margin: 210px 5px 0px 5px;border-radius: 3px;
}
.v4{
	background-image: url("../Images/ap22.jpeg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
	width: 300px;
/*	background-color:blue;*/
	margin: 10px 50px 10px -100px;
	border-radius: 5%;
	background-image:ap1.jpg ;
	float: left;

}
.vv4{
	height: 40px;width: 295px;
	background-color: whitesmoke;margin: 210px 5px 0px 5px;border-radius: 3px;
}
.v5{
	background-image: url("../Images/ap23.jpeg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
	width: 300px;
/*	background-color:blue;*/
	margin: 10px 50px 10px 10px;
	border-radius: 5%;
	background-image:ap1.jpg ;
	float: left;

}
.vv5{
	height: 40px;width: 295px;
	background-color: whitesmoke;margin: 210px 5px 0px 5px;border-radius: 3px;
}
.v6{
	background-image: url("../Images/ap24.jpeg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 245px;
	width: 300px;
/*	background-color: blue;*/
	margin: 10px 0px 10px 10px;
	float: left;
	border-radius: 5%;
	background-image:ap1.jpg ;
}
.vv6{
	height: 40px;width: 295px;
	background-color: whitesmoke;margin: 210px 5px 0px 5px;border-radius: 3px;
}
.z2{
	font-size: 3px;
	font-family: bold;
	margin: 0px 0px 0px 10px;
}
.x2{
	background-color: black;
	color: white;
	padding: 10px 5px 4px 10px;margin: 0px 0px 0px 10px;border: none;border-radius: 10px;
}
.o1{
	height: 300px;
	width: 100%px;
	background-color:#e67300;
	margin: 0px 0px 0px 0px;

}

.o2{
	height: 180px;
	width: 300px;
	background-color: ghostwhite;
	float: left;
	margin: 25px 2px 0px 250px;
	border-radius: 5px;
	background-image: url("../Images/ap8.png");
	background-repeat: no-repeat;object-fit: cover;
	background-size: contain;
}
.o3{
	height: 180px;
	width: 300px;
	background-color: ghostwhite;
	float: left;
	margin: 25px 2px 0px 30px;
	background-image: url("../Images/ap8.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.o4{
	height: 180px;
	width: 300px;
	background-color: ghostwhite;
	float: left;
	margin: 25px 2px 0px 30px;
	background-image: url("../Images/ap8.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.z1{
	font-size: 40px;
	font-weight: bold;
	margin: 0px 0px 0px 100px;
}
.x1{
	padding: 7px 5px 7px 24px;
	color: white;
	background-color: black;
	margin: 0px 10px 0px 90px;border: none;border-radius: 20px;
}
.b1{
	height: 100px;
	width: 100%;
	background-color: black;color: white;

}
.a{
	height: 400px;
	width: 350px;
	border-radius: 50%;
	margin:20px 0px 0px 110px;
	float: left;
	background-color: dimgray;background-image: url("../Images/task50.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.a1{
	height: 400px;
	width:300px;
	background-color: lightgray;
	border-radius: 5%;
	float:left;
	margin: 30px 0px 0px 160px;
}
.o21{
	height: 100px;
	width: 100%;
	background-color: orange;
}
.o22{
	width: 100%;
	height: 500px;
	background-color: ghostwhite;

}
.o24{
	height: 400px;
	width: 450px;
	border-radius: 50%;background-color: ghostwhite;background-image: url("../Images/task50.png");
	background-repeat: no-repeat;background-size: contain;
	margin: 10px 0px 0px 160px;
	float: left;
}
.o23{
	height: 400px;
	width: 300px;
	border-radius: 5px;
	margin: 10px 0px 0px 80px;
	background-color: ghostwhite;
	float: left;
}
i[class="fa-brands fa-youtube"]{
	margin: 50px 0px 0px 220px;
	font-size: 20px;
}
i[class="fa-brands fa-instagram"]{
	margin: 50px 0px 0px 220px;
	font-size: 20px;
}
i[class="fa-brands fa-facebook"]{
	margin: 50px 0px 0px 220px;
	font-size: 20px;
}
i[class="fa-brands fa-linkedin"]{
	margin: 0px 0px 0px 275px;
	font-size: 20px;
}
i[class="fa-regular fa-lightbulb"]{
	margin: 15px 0px 0px 15px;
	font-size: 20px;
}
.sp1{
	margin: 0px 0px 0px 380px;
}
.sp2{
	margin: 0px 0px 0px 360px;
}
.sp3{
		margin: 0px 0px 0px 350px;	
}
.sp4{
 		margin: 0px 390px 0px 368px;
}
.sp5{
	margin: 0px 0px 0px 0px;
}
.sp6{
margin: 0px 0px 0px 200px;
}
.t1{
	margin: 20px 0px 0px 0px;
}
.bb1{
	height: 150px;
	width: 100%;
	background-color: black;color:white;
}
.sp13{
	margin: 10px 0px 10px 50px;
	font-size: 30px;
}
.sp15{
	margin: 0px 0px 0px 50px;
}
.sp16{
	height: 50px;
	width: 400px;
/*	background-color: blue;*/
	margin: 0px 0px 50px 0px;
	padding: 150px 0px 50px 0px;
	position: relative;
}
.sp17{
	height: 45px;width: 430px;
	background-color: lightgrey;
	margin-left: 350px;
	border-radius: 10px;
}
.sp18{
	height: 40px;
	width: 100px;background-color: black;
	border-radius: 5px;float: right;margin: 2px 0px 0px px;
	color: white;
	text-align: center;
}
.sp24{
	height:40px ;width: 300px;background-color:white;float: left;
	border-radius: 5px;
	margin: 5px 0px 10px 10px;
	color:black;
	text-align: center;
}
.sp20{
	margin: 0px 0px 0px 275px;
}
.sp21{
	margin: 0px 0px 0px 170px;
}
.sp22{
	margin: 0px 0px 0px 180px;
}
.sp23{
	margin: 0px 0px 0px 190px;
}
.sp25{
	padding: 10px 20px 0px 30px;
	margin: 15px 0px 10px 0px;
	border-radius: 5px;background-color: black;color: white;
	border-style: none;
	font-weight: bold;
}
.sp26{
	font-size: 30px;
	font-weight: bold;
}
.sp27{
	margin: 100px 0px 200px 70px;
	padding: 0px 0px 0px 0px;
}
input[type="text"]{
	margin: 30px 0px 0px 100px;
	border:none;
	border-radius: 20px;
}